// #include <layout_shift.dtsi>

#include <layout_shift_kp_override.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define FUNC 1
#define NUM 2
#define MOUSE 3
#define SCROLL 4
#define BT 5

/ {
    macros {
        deg: deg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <>;
            label = "DEG";
        };
    };

    behaviors {
        num: num {
            compatible = "zmk,behavior-hold-tap";
            label = "NUM";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 11 23 35 45 43 44 42 41>;
            tapping-term-ms = <100>;
        };

        arrow: arrow {
            compatible = "zmk,behavior-hold-tap";
            label = "ARROW";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 45 44 43 0 12 24 36 37 38 39 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Def";
            bindings = <
&kp ESCAPE  &kp Q   &kp W      &kp E     &kp R         &kp T          &kp Y        &kp U           &kp I      &kp O      &kp P      &kp LS(LA(LC(F)))
&kp TAB     &kp A   &kp S      &kp D     &kp F         &kp G          &kp H        &kp J           &kp K      &kp L      &kp SEMI   &kp F3
&kp LSHFT   &kp Z   &kp X      &kp C     &kp V         &kp B          &kp N        &kp M           &kp COMMA  &kp DOT    &kp SLASH  &none
&none       &none   &none                &num 1 SPACE  &mkp LCLK      &lt 0 ENTER  &arrow 2 SPACE             &none      &none      &none
&kp LEFT    &kp UP  &kp SPACE  &kp DOWN  &kp RIGHT                                 &kp HOME        &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                               &kp A                                                               &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        num_layer {
            label = "Num";
            bindings = <
&kp PERCENT      &kp N1    &kp N2     &kp N3     &kp N4     &kp N5       &trans     &trans     &trans     &trans     &trans     &trans
&deg             &kp N6    &kp N7     &kp N8     &kp N9     &kp N0       &trans     &trans     &trans     &trans     &trans     &trans
&mt LSHFT SPACE  &kp FSLH  &kp ASTRK  &kp MINUS  &kp PLUS   &kp DOT      &trans     &trans     &trans     &trans     &trans     &trans
&trans           &trans    &trans                &trans     &trans       &kp ENTER  &kp ENTER             &trans     &trans     &trans
&kp LEFT         &kp UP    &kp SPACE  &kp DOWN   &kp RIGHT                          &kp HOME   &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                                      &kp A                                                    &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        arrow {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans  &trans      &trans  &trans          &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
                        &trans                                      &trans
            >;
        };

        many {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans  &trans      &trans  &trans          &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
                        &trans                                      &trans
            >;

            label = "many";
        };

        mouse_layer {
            label = "Mouse";
            bindings = <
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &mkp MB1  &mkp MB3   &mkp MB2   &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans  &trans               &trans     &trans      &trans  &trans               &trans     &trans     &trans
&kp LEFT  &kp UP  &kp SPACE  &kp DOWN  &kp RIGHT                      &kp HOME  &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                             &kp A                                              &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
